body {
  color: #000000;
}

.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/accessibility-hero-banner.jpg") no-repeat center center fixed;
  background-size: cover;
}

.tabs {
  position: relative;
}
.tab-content {
  padding: 2rem;
}
.tab-pane {
  display: none;
}
.tab-pane.is-active {
  display: block;
  position: relative;
}
.is-active {
  display: initial;
}

.cent {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #ccc;
}

.video {
  display: block;
  margin: 0 auto;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.features,
.medias {
  padding: 3rem 0;
}

.features .fa,
.features .fab {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}

.is-shady {
  animation: flyintoright 0.4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}

.has-same-height .card {
  height: 350px;
  overflow: hidden;
}

.skills-content .media + .media {
  margin-top: 0.5rem;
}

.skills-content .progress {
  height: 4px !important;
}

.section-heading {
  margin-bottom: 2rem;
}

.info-tiles {
  margin: 0.75rem auto;
  padding: 0 0.75rem;
}

.button.is-primary.is-alt {
  background: linear-gradient(to bottom, #0072ff, #00c6ff);
  font-weight: 700;
  font-size: 14px;
  height: 3rem;
  line-height: 2.8;
  margin-bottom: 1rem;
}
.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6eaee;
}
.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.forum-list li {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 1087px) {
  .navbar-menu {
    background-color: #888;
  }
}

.logo-link {
  height: 70px;
  width: 250px;
}

.logo-link img {
  width: 100%;
}

li {
  list-style: none;
}

.hero.is-fullheight {
  min-height: 70vh;
}

.blockquote {
  background-color: #f5f5f5;
  border-left: 5px solid #dbdbdb;
  padding: 1.25em 1.5em;
}

.ol-list li {
  position: relative;
  display: flex;
  align-items: center;
}

.ol-list li::before {
  content: "";
  background: url(../img/arrow_sans_right-512.png) no-repeat;
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  background-size: contain;
}

h2,
h5 {
  color: #292929;
}

.button.is-link:focus:not(:active),
.button.is-primary:focus:not(:active),
.button:focus:not(:active) {
  border-color: transparent;
  border-radius: 2px;
  outline: 0;
  box-shadow: 0 0 2px 1.5px rgb(36, 91, 192), 0 0 3px 3px #fff;
}

.field.is-grouped > .control {
  align-self: flex-end;
}

a,
.hero.is-info .tabs.is-boxed li.is-active a {
  color: #2d20f7;
}

.hero.is-info .tabs.is-boxed li.is-active:focus a {
  background-color: transparent;
  color: #ffffff;
}

.hero.is-info .tabs.is-boxed li:focus {
  border-color: transparent;
  border-radius: 4px 4px 0 0;
  outline: 0;
  box-shadow: 0px 0px 0px 2px rgb(255, 255, 255) inset;
}

.title,
.subtitle {
  display: block;
}

.card-title {
  font-weight: 600;
}

.card-header-title {
  flex-grow: 0;
}

.title.is-2,
.subtitle.is-5,
.hero.is-info .tabs.is-boxed li.is-active a:hover {
  color: #000000;
}

.hero.is-info,
.button.is-info,
.button.is-link {
  background-color: #1b2f94;
  color: #ffffff;
}

.button.is-info:hover,
.button.is-link:hover {
  background-color: #004e82;
  color: #ffffff;
}

#styled-coffee {
  font-weight: bold;
}

.medias a {
  font-weight: bold;
}

.card-header-title#small {
  font-size: 0.5rem;
}

span.tag.is-danger {
  background-color: #a01d37;
}

span.tag.is-primary {
  background-color: #086351;
}

span.tag.is-success {
  color: #000000;
}

.has-text-grey-light {
  color: #545454 !important;
}

.help {
  font-size: 1rem;
}

.help.is-success {
  color: #007915;
}

.help.is-danger {
  color: #cc1717;
}

footer {
  background-color: #fafafa;
}

.underlined {
  text-decoration: underline;
}

a:focus,
.field .control .input:focus,
.field .control .select select:focus,
.field .control .textarea:focus,
.field .control .checkbox input:focus,
.field .control .radio input:focus {
  border-color: transparent;
  border-radius: 2px;
  outline: 0;
  box-shadow: 0 0 2px 1.5px rgb(36, 91, 192), 0 0 3px 3px #fff;
}

.field .control .button:focus {
  border-color: transparent;
  border-radius: 2px;
  outline: 0;
  box-shadow: 0 0 2px 1.5px rgb(36, 91, 192), 0 0 3px 3px #000;
}

.field .control .input.is-success:focus {
  border-radius: 2px;
  outline: 0;
  box-shadow: 0 0 2px 1.5px rgb(30, 158, 30), 0 0 3px 3px #fff;
}

.field .control .input.is-danger:focus {
  border-radius: 2px;
  outline: 0;
  box-shadow: 0 0 2px 1.5px rgb(212, 50, 50), 0 0 3px 3px #fff;
}

.button.is-text {
  border: 1px solid black;
  border-radius: 4px;
}

.block {
  display: block;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: white;
}

.visuallyhidden:focus-within {
  width: auto;
  height: auto;
  clip: auto;
  cursor: pointer;
  z-index: 9999999;
}

.capitalized-link {
  text-transform: capitalize;
}

.external-link {
  margin-left: 4px;
}

fieldset {
  border: none;
}

.is-pulled-right {
  margin-left: 20px;
}

.custom-breadcrumb ol {
  margin-left: 80px;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.custom-breadcrumb ol > li:nth-child(n + 2) {
  padding-left: 20px;
  border-left: 1px solid black;
}

.hero-body {
  flex-direction: column;
  justify-content: space-around;
}

.hero.is-fullheight .hero-body > .container {
  flex-grow: 0.5;
}

#timer {
  color: #ffffff;
  font-size: 24px;
}

#skip-nav-link:focus-within {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skip-nav-link li {
  width: 150px;
  padding: 0 10px;
  background: #eeeeee;
}

#skip-nav-link li[tabindex="0"] {
  background: darkblue;
}

#skip-nav-link li[tabindex="0"] a {
  color: #ffffff;
}

#skip-nav-link a {
  color: black;
}
